@media only screen and (max-width: 800px) {
    @font-face {
        font-family: Aerotis;
        src: url(font/Aerotis.ttf);
    }
    
    @font-face {
        font-family: SecretWinter;
        src: url(font/Secret\ Winter.ttf);
    }
    
    html, body {
        height: 100%;
        width: 100%;
    }

    .navbar {
        background-color:hsl(26, 63%, 12%)
    }

    .navbar-nav a {
        font-size: 8px;
    }

    .landing-text h1 {
        font-size: 300%;
        font-weight: 600;
        font-family: Aerotis;
    }
    
    .landing-text h2 {
        font-size: 300%;
        font-weight: 100;
        font-family: SecretWinter;
    }

    .landing-text h4 {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 6px;
        line-height: 100px;
        font-family: 'Lato', sans-serif;
        padding-top: 50px;
    }

    .landing-text p {
        font-size: calc(0.5rem + 1vw);
        font-weight: 200;
        line-height: 30px;
        letter-spacing: 1px;
        padding-left: 27%;
        padding-right: 27%;
        padding-bottom: 50px;
        font-family: 'Lato', sans-serif;
    }

    .disclaimer{
        font-size: calc(0.5rem + 1vw);
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 1px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .two-buttons {
        text-align: center;
    
    }
    .btn {
        height: 65px;
        width: 200px;
        border: 1px;
        border-radius: 10px;
        position: relative;
        background-color: hsl(26, 63%, 12%);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 3px;
        padding: 20px 20px;
        font-family: 'Lato', sans-serif;
        color: hsl(30, 53%, 93%);
        transition: 0.8s ease 0s;;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        outline: none;
    
    }
    .btn1, .btn2 {
        margin-bottom: 30px;
        color: hsl(26, 63%, 12%) ;
        background-color:hsl(30, 53%, 93%);
    }

    .btn1:hover, .btn2:hover {
        color:hsl(30, 53%, 93%);
        background-color: hsl(26, 63%, 12%) ;
        transform: translateY(-7px);
    }

    i.fa {
        font-size: 20px;
        position: relative;
        vertical-align: middle;
    }

    .about-us {
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 1px;
        text-align: center;
        font-family: Aerotis;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    #rectangle {
        width: 100%;
        display: table;
        background: hsl(30, 53%, 93%);
      }

    .about-ervina p {
        text-align: center;
        font-family: 'Lato', sans-serif;
        line-height: 30px;
        letter-spacing: 1px;
        font-size: calc(0.5rem + 1vw);
        vertical-align: middle;
        padding-top: 15px;
    
    }
    
    .about-angga p {
        text-align: center;
        font-family: 'Lato', sans-serif;
        line-height: 30px;
        letter-spacing: 1px;
        font-size: calc(0.5rem + 1vw);
        vertical-align: middle;
        padding-top: 15px;
    
    }
    
    .about-photo img {
        width:30% ;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #address {
        background: url(wedding-web-assets/curved-flower-mobile.svg) no-repeat center center;
        background-size: 400px 400px;
        position:relative;
        display: block;
        padding-bottom: 200px;
    
    }

    .detail-address h1 {
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 1px;
        text-align: center;
        font-family: Aerotis;
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .detail-address h2 {
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: calc(0.5rem + 1vw);
        font-weight: 400;
        letter-spacing: 3px;
        line-height: 50px;
    }

    
    .bee-flower-img img {
        width:50% ;
        height:auto;
        display:table;
        padding-top: 10px;
        margin-left:auto;
        margin-right: auto;
      }
    
    .footer-desc p {
        text-align:left;
        color: white;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 1px;
        font-size: 12px;
        padding: 20px;
        margin: auto;
    }
    
    .footer-desc h2{
        text-align:left;
        color: white;
        padding-left: 20px;
        font-family: 'Lato', sans-serif;
        line-height: 10px;
        font-size: 6px;
        font-weight: 300;
    }
    
    /* donation */

    .nav-custom {
        font-family: 'Lato', sans-serif;
        display:block;
    }

    .nav-custom li a {
        color: hsl(26, 63%, 12%);
        background-color:white; 
        width:auto;
        font-size: 12px;
        margin-bottom: 0.1%;
    }

    i.fas {
        font-size: 18px;
        position: relative;
        vertical-align: middle;
    }

    #donation-rectangle {
        width: 100%;
        display: table;
        background: hsl(30, 53%, 93%) 20%;
      }

    .donation .tab-content p, b, li {
        font-family: 'Lato', sans-serif;
        color: hsl(26, 63%, 12%);
        font-weight: 400;
        letter-spacing: 1.2px;
        font-size: 12px;
    }

    .donation h3 {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
    }
      
    .tab-content img {
        width:50% ;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .delivery {
        margin-left: 5%;
        margin-bottom: 5%;
        font-size: calc(0.2rem + 1vw);
    }

    .tab-content .bca-qr, .delivery-box {
        margin-top: 10%;
    }


}


@media (min-width: 801px) and (max-width: 999px) {
    .btn1, .btn2 {
        margin-bottom: 50px;
        color: hsl(26, 63%, 12%) ;
        background-color:hsl(30, 53%, 93%);
    }

    #rectangle {
        width: 100%;
        height: fit-content;
        display: table;
        background: hsl(30, 53%, 93%);
      }

    .about-photo img {
        width:40% ;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

    .about-angga p {
        text-align: center;
        font-family: 'Lato', sans-serif;
        line-height: 30px;
        letter-spacing: 1px;
        font-size: calc(0.5rem + 1vw);
        vertical-align: middle;
        padding-top: 15px;
    
    }

    .about-ervina p {
        text-align: center;
        font-family: 'Lato', sans-serif;
        line-height: 30px;
        letter-spacing: 1px;
        font-size: calc(0.5rem + 1vw);
        vertical-align: middle;
        padding-top: 15px;
    
    }

    .nav-custom li a {
        font-size: 12px;
    }

    .tab-content img {
        width:40% ;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .tab-content .bca-qr {
        margin-top: 10%;
    }

    .delivery {
        margin-left: 0%;
        font-size: calc(0.2rem + 1vw);
    }

}

@media (min-width: 1000px) and (max-width: 1200px) {
    .about-angga p {
        text-align: right;
        font-family: 'Lato', sans-serif;
        line-height: 25px;
        letter-spacing: 1px;
        font-size: calc(0.3rem + 1vw);
        vertical-align: middle;
        padding-top: 40px;
    
    }

    .about-ervina p {
        text-align: left;
        font-family: 'Lato', sans-serif;
        line-height: 25px;
        letter-spacing: 1px;
        font-size: calc(0.3rem + 1vw);
        vertical-align: middle;
        padding-top: 40px;
        
    
    }

    .about-photo img {
        width:80% ;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .tab-content img {
        width:40% ;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .tab-content .bca-qr {
        margin-top: 10%;
    }

}

/* large screen */
@media (min-width: 1200px) and (max-width: 1450px) {
    .btn1, .btn2 {
        width: 300px;
        color: hsl(26, 63%, 12%) ;
        background-color:hsl(30, 53%, 93%);
    }
}

/* very large screen */
@media (min-width: 1600px) and (max-width: 3000px) {
    .about-angga p {
        text-align: right;
        font-family: 'Lato', sans-serif;
        line-height: 30px;
        letter-spacing: 1px;
        font-size: calc(0.2rem + 0.8vw);
        vertical-align: middle;
        padding-top: 40px;
    }

    .about-ervina p {
        text-align: left;
        font-family: 'Lato', sans-serif;
        line-height: 30px;
        letter-spacing: 1px;
        font-size: calc(0.2rem + 0.8vw);
        vertical-align: middle;
        padding-top: 40px;
    }

    .about-photo img {
        width:80% ;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .tab-content img {
        width:60% ;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

}